body {
    font-family: Arial, sans-serif;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#player {
    text-align: center;
    margin-bottom: 20px;
}

#library {
    margin-left: 20px;
}

#song-list {
    list-style-type: none;
}

#song-list li {
    cursor: pointer;
    margin-bottom: 10px;
}