body {
    background: rgb(199, 199, 41);
}

.body {
    /* display: flex; */
    /* margin-left: 30px; */
    text-align: center;
}

.Project_Title {
    background: gray;
    /* padding: px; */
    border-radius: 30px;
}

.Project_Input {
    /* display: flex; */
    align-items: center;
    background: gray;
    border-radius: 13px;
    padding: 80px;
}

label {
    padding-left: 10px;
}

input {
    margin-bottom: 30px;
}

.table {
    display: flex;
    background: gray;
    margin-top: 20px;
    padding: 50px;
    border-radius: 13px;
    padding: 80px;
}

.record {
    border: 8px double lightgray;
    margin-left: 130px;
    padding: 70px;
    padding-top: 10px;
}