* {
    margin: 0;
    padding: 0;
}

#header {
    height: 100vh;
    background: url(/A.Bg/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    margin-right: 100px;
    margin-left: 50px;
}

.logo {
    margin-top: 23px;
    width: 100px;
    height: 8vh;
}

.header-text {
    max-width: 350px;
    margin-top: 130px;
    color: white;
    font-family: cursive;
    font-size: 14px;
}

.header-text h1 {
    font-size: 34px;
    font-weight: 500;
}

.header-text p {
    font-size: 15px;
    line-height: 18px;
    color: white;
    word-spacing: 7px;
    text-align: justify;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: gray;
    margin: 15px 0;
}

.btn {
    padding: 12px 40px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 13px;
    color: white;
}

.line-1 {
    width: 15px;
    height: 15px;
    background: grey;
    display: inline-block;
}

.line-2 {
    width: 80px;
    height: 1px;
    background: grey;
    display: inline-block;
}

.line-3 {
    width: 60px;
    height: 1px;
    background: grey;
    display: inline-block;
}

.line {
    line-height: 8px;
}

#sideNav {
    text-transform: uppercase;
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: rgb(227, 227, 227);
    /* background: transparent; */
    z-index: 2;
    transition: 5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}


/* -- About -- */

#about,
#Offer {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
}

.about-right-col {
    flex-basis: 50%;
    text-align: left;
}

.about-text {
    max-width: 500px;
    margin-left: 100px;
    display: inline-block;
    text-align: justify;
}

.about-text h2 {
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3 {
    font-size: 20px;
    font-style: italic;
    color: #797970;
}


/* -- features -- */

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-col {
    flex-basis: 25%;
    text-align: center;
}

.feature-col img {
    width: 134px;
    height: 134px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.feature-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.feature-btn {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.common-btn {
    padding: 12px 40px;
    background: transparent;
    outline: none;
    border: 2px solid blue;
    font-weight: bold;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 13px;
    color: blue;
}

.line-a1 {
    width: 15px;
    height: 15px;
    background: blue;
    display: inline-block;
}

.line-b2 {
    width: 80px;
    height: 1px;
    background: blue;
    display: inline-block;
}

.line-c3 {
    width: 60px;
    height: 1px;
    background: blue;
    display: inline-block;
}

.line {
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

.line-aa {
    width: 15px;
    height: 15px;
    background: blue;
    display: inline-block;
}

.line-bb {
    width: 80px;
    height: 1px;
    background: blue;
    display: inline-block;
}

.line-cc {
    width: 60px;
    height: 1px;
    background: blue;
    display: inline-block;
}

.linea {
    text-align: left;
    display: inline-block;
    margin-left: 25px;
    line-height: 7px;
}


/* -- Courses -- */

#courses {
    padding: 100px 0;
}

.course-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-right-col {
    flex-basis: 50%;
}

.course-right-col img {
    width: 100%;
}

.course-left-col {
    flex-basis: 50%;
}

.square-a {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: blue;
    margin: 15px 0;
}

.linesa {
    text-align: left;
    display: inline-block;
    margin-top: 25px;
    line-height: 7px;
}

.line-p {
    width: 15px;
    height: 15px;
    background: blue;
    display: inline-block;
}

.line-q {
    width: 60px;
    height: 1px;
    background: blue;
    display: inline-block;
}

.line-r {
    width: 80px;
    height: 1px;
    background: blue;
    display: inline-block;
}

.course-text {
    max-width: 350px;
}

.course-text button {
    margin: 30px auto 0;
}


/* -- Offer -- */

#Offer button {
    margin: 30px auto 10;
}

.line-aa {
    text-align: right;
    display: inline-block;
    margin-right: 25px;
    line-height: 7px;
}


/* -- Contact -- */

.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
    flex-basis: 50%;
}

.contact-right-col img {
    width: 100%;
}

form {
    max-width: 350px;
    margin: 30px 0;
}

form input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid rgb(255, 16, 128);
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-box button {
    flex-basis: 48%;
    padding: 18px 0;
    border: 2px solid rgb(255, 16, 128);
    color: rgb(255, 16, 128);
}

#contact .line {
    text-align: left;
    display: inline-block;
    margin-top: 25px;
    line-height: 7px;
}

.line-i {
    width: 15px;
    height: 15px;
    background: rgb(255, 16, 128);
    display: inline-block;
}

.line-ii {
    width: 60px;
    height: 1px;
    background: rgb(255, 16, 128);
    display: inline-block;
}

.line-iii {
    width: 80px;
    height: 1px;
    background: rgb(255, 16, 128);
    display: inline-block;
}

.line-one {
    width: 80px;
    height: 1px;
    background: rgb(255, 16, 128);
    display: inline-block;
}

.line-two {
    width: 60px;
    height: 1px;
    background: rgb(255, 16, 128);
    display: inline-block;
}

.line-three {
    width: 15px;
    height: 15px;
    background: rgb(255, 16, 128);
    display: inline-block;
    margin-top: 6px;
}


/* -- Footer -- */

#footer {
    padding: 50px 0 30px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid blue;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col {
    flex-basis: 50%;
    margin-top: 60px;
}

.footer-right-col {
    flex-basis: 35%;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 {
    color: blue;
    margin-bottom: 20px;
}

.link-title small {
    font-size: 13px;
    color: rgb(255, 16, 128);
}

.footer-logo img {
    width: 150px;
    background-size: cover;
    background-position: center;
}

.footer-logo button {
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}

.footer-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copyright-text,
.footer-logo {
    flex-basis: 40%;
}


/* -- Social Icons -- */

.social-icons {
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.social-icons img {
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
    filter: grayscale(100%);
}


/* -- Responsive --  */

@media (max-width:770px) {
    #header {
        background: gray;
    }
    .container {
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo {
        margin-top: 13px;
        width: 89px;
        height: 40px;
    }
    .header-text {
        margin-top: 7px;
    }
    .header-text h1 {
        font-size: 1.7rem;
        font-weight: 500;
        margin-top: 50px;
    }
    .square {
        height: 12px;
        width: 12px;
        display: inline-block;
        background: #47fffd;
        margin: 15px 0;
    }
    .header-text p {
        margin-top: 19px;
        line-height: 18px;
        color: white;
        word-spacing: 7px;
        text-align: justify;
    }
    #menuBtn {
        margin-top: -12px;
    }
    .btn {
        padding: 10px 18px;
        margin-left: 62px;
        margin-top: 130px;
    }
    .line {
        margin: 13px 30px;
    }
    .btn {
        padding: 10px 18px;
        margin-top: 70px;
    }
    .line {
        text-align: left;
        display: inline-block;
        margin-left: 4px;
    }
    .line-1 {
        background: #47fffd;
    }
    .line-2 {
        background: #47fffd;
    }
    .line-3 {
        background: #47fffd;
    }
    /* -- About --  */
    #about {
        padding: 70px 0;
    }
    .about-left-col,
    .about-right-col {
        flex-basis: 100%;
    }
    .about-text {
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2 {
        font-size: 18px;
    }
    .feature-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .common-btn {
        padding: 13px 13px;
        background: transparent;
        outline: none;
        border: 2px solid blue;
        font-weight: bold;
        cursor: pointer;
        color: blue;
        margin-left: -48px;
    }
    .line-a1 {
        width: 0px;
        height: 0px;
        background: blue;
        display: inline-block;
    }
    .line-b2 {
        width: 0px;
        height: 0px;
        background: blue;
        display: inline-block;
    }
    .line-c3 {
        width: 0px;
        height: 0px;
        background: blue;
        display: inline-block;
    }
    .line {
        /* text-align: right;
        display: inline-block;
        margin-right: 4px; */
        text-align: right;
        display: inline-block;
        margin-left: 4px;
        line-height: 5px;
    }
    .line-aa {
        width: 0px;
        height: 0px;
        background: blue;
        display: inline-block;
    }
    .line-bb {
        width: 0px;
        height: 0px;
        background: blue;
        display: inline-block;
    }
    .line-cc {
        width: 0px;
        height: 0px;
        background: blue;
        display: inline-block;
    }
    .linea {
        text-align: left;
        display: inline-block;
        margin-left: 4px;
        line-height: 5px;
    }
    .course-left-col,
    .course-right-col {
        flex-basis: 100%;
        margin-top: 70px;
    }
    .about-right-col .common-btn {
        margin-left: 63px;
    }
    .contact-left-col,
    .contact-right-col {
        flex-basis: 100%;
    }
    .btn-box .common-btn {
        margin-left: 3px;
    }
    .footer-logo .common-btn {
        background: transparent;
        outline: none;
        border: 2px solid blue;
        font-weight: bold;
        cursor: pointer;
        color: blue;
        margin-left: 0px;
    }
    .footer-left-col,
    .footer-right-col {
        flex-basis: 100%;
    }
    .link-title {
        flex-basis: 50%;
        margin-bottom: 30px;
    }
    .footer-logo img {
        float: right;
        display: inline;
    }
    .copyright-text,
    .footer-logo {
        flex-basis: 100%;
    }
    .copyright-text {
        margin-top: -10px;
    }
}